
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 4rem;
  font-style: normal;
  color:  whitesmoke;
  background-color: #19202E;
  text-align: center;
  padding: 4rem;

}

a{
  color:  whitesmoke;
  text-decoration:none;   
}

h1,h2,h3,h4 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.2rem;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    justify-content:center;
    align-content: center;
    width: 100%;
    height:7rem;
    color:white;
    border: solid 0.3rem rgba(7, 27, 39, 0.462);
    position:fixed;
    top:0;
    left:0;
    backdrop-filter: blur(50px);
    z-index:1;
    border-radius: 2rem;
} 

.header-left{
    display:flex;
    justify-content:start;
    align-content: start;  
    width:80%
}

.contact-icons{
    margin-left: 1rem;
    border-radius:1rem;
    box-shadow: inset 1rem 1rem 1rem #111621;
    border: solid 4px #181f2d;
}

.contact-icons img{
    height:2rem;
    width: auto;
}

.contact-icons:hover{
    padding: 0.4rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.134) ;

}

.header-right{
    display:flex;
    justify-content:center;
    align-content: center; 
    width:20%
}

.header-right button{
    display:flex;
    justify-content: center;
    align-items: center;
}   

.my-icon{
    margin-right:1rem;
}

.hire-me{
    text-align:center;
    color:white;
    background-color: black;
    font-size: large;
    font-weight:bold;
    padding: 1rem;
    border: solid 0.2rem aqua;
    border-radius:3rem;
    margin-left:1rem;
    text-wrap: nowrap;
    cursor:pointer;
}

.save-pdf{
    text-align:center;
    color:white;
    background-color: rgb(168, 7, 7);
    font-size: large;
    font-weight:bold;
    padding: 0.6rem;
    border: solid 0.2rem white;
    border-radius:3rem;
    margin: 0 0rem 0 2rem;
    text-wrap: nowrap;
    cursor:pointer;
}

.hire-me:hover,.save-pdf:hover{
    border: solid 0.2rem black; 
    box-shadow: 2rem 2rem 4rem black;
    background-color: rgb(0, 204, 255);
    color:black;
}

.name{
    font-size: 4rem;
    margin-bottom:0.5rem;
}

.title{
    color: rgba(245, 245, 245, 0.662);
    margin-top:0.2rem;
}

.main{
    padding:3rem;
    margin-top:15rem;
    border-radius:0.25rem;
    background-color: #1E2738;
}

.pfp{
    margin-top:-12rem;
    border: solid 0.6rem #1E2738;
    height:16rem;
    width:16rem;
    border-radius:8rem;
}

.contact{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right:4rem;
    transition: ease-in-out 0.3s;
    padding: 0 1rem 0 1rem;
    cursor:pointer
}

.contact-details{
    display:flex;
    align-items:center;
    justify-content: center;
}

.contact:hover{
    background-color: rgba(245, 245, 245, 0.136);
    border-radius:2rem;
    color:white;
}

.contact-icon{
    height:1rem;
    width:1rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.page{
    display: flex;
    flex-direction: row;
}

.sec-1{
    display: flex;
    flex-direction: column;
    width:50%;
    padding:2rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0);
    opacity: 1; 
  }
}

.card-icon{
    display:flex;
    align-items: center;
    animation-name: slideInFromLeft; 
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; 
    animation-delay: 0.5s; 
    animation-fill-mode: forwards;
    cursor: pointer;
}

.card-icon:hover{
    border-radius: 3rem;
    background-color: #19202E;
}

.icon-sec,.icon-sec-lang{
    width:2rem;
    height:2rem;
    margin-right: 1rem;
    background-color: #141923;
    padding:0.25rem;
    border-radius: 2rem;
}

.card{
    text-align: left;
}

.card-text{
    text-align: left;
    margin-bottom:3rem;
    width:100%;
}

.about-text{
    text-align: left;
    margin:0 0 3rem 0rem;
    width:90%;
    padding-left: 1rem;
    border-left: solid 0.5rem #19202E;
    background-color:#212b3d;
}

.xp-div{
    position:relative;
    height: auto;
}

.vertical-row-xp::after{
    content:'';
    margin-bottom: 2rem;
    left:1.2rem;
    top:-1rem;
    height:100%;
    position: absolute;
    width:4px;
    background: linear-gradient(to bottom,#66D9EF,#006198, #001F3F);
}

.timeline-item {
    position: relative;
    margin: 0px 0 2rem 2rem;
    padding-left: 2rem;
    border:solid 1rem transparent;
    border-radius: 1rem;
    cursor:pointer;
    box-shadow:  1rem 1rem 1rem #181f2d;
    border: solid 4px #181f2d;
    border-radius: 1rem;
}

.timeline-icon {
    position: absolute;
    left: -20px;
    width: 3rem;
    height: auto;
    display: grid;
    place-items: center;
    top: 0;
}

.timeline-icon img{
    height:3rem;
    width:auto;
}

.timeline-content h3 {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 0rem;
}

.timeline-content ul {
  font-size: 0.9rem;
  color: #ccc;
  text-align: left;
}

.hobbies-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:1rem;
    box-shadow: inset 1rem 1rem 1rem #181f2d;
    border: solid 4px #181f2d;
}

.vertical-row{
    background-color: rgba(245, 245, 245, 0.5); 
    margin: 3rem 6rem 3rem 0rem;
    height:75rem;
    width:2px;
}

.spl-sep{
    display:none;
}

.sec-2{
    display: flex;
    flex-direction: column;
    width:35%;
    padding:2rem 0 0rem 0;
}

.bars{
    height:1rem;
    width:80%;
    border-radius: 2rem;
    background-color: rgba(245, 245, 245, 0.336);
    margin-bottom:1rem;
}

@keyframes progress{
    0% {background-color:black; width: 5%;}
    25% {background-color:darkblue; width: 25%;}
    50% {background-color:rgb(35, 83, 177); width: 50%;}
    75% {background-color:rgb(9, 100, 191); width: 75%;}
}

.progress{
    animation-name: progress;
    animation-duration: 2s;
    background-color: dodgerblue;
    height:100%;
    border-radius: 2rem 0 0 2rem;
}

@keyframes animate-icons-lang{
    10% {background-color:#001F3F;}
    20% {background-color:#003366 ;}
    30% {background-color:#004B8D;}
    40% {background-color:#006198 ;}
    50% {background-color:#0077B3;}
    60% {background-color:#0099CC;}
    70% {background-color:#33B5E5;}
    80% {background-color:#66D9EF;}
    90% {background-color:#99F2FF;}
}

.icon-sec-lang:hover{
    animation-name:animate-icons-lang;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animate-edu{
    15% {background-color:black;}
    25% {background-color:purple; }
    50% {background-color:rgb(161, 138, 6);}
    75% {background-color:maroon;}
}

.icon-sec{
    animation-name:animate-edu;
    animation-duration: 4s;
}

.icon-sec:hover{
    animation-name:animate-edu;
    animation-duration: 4s;
    animation-iteration-count: infinite;  
}

.bar-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    cursor:pointer;
}

.project-cards-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem 2rem 2rem 0;

}

.proj-img{
    aspect-ratio: 16/9;
    width: 10rem;
    max-width:100%;
    height:auto;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1px); }
  50% { transform: translateY(2px); }
  75% { transform: translateX(-1px); }
  100% { transform: translateY(0); }
}

.proj-card{
    animation: shake 1s infinite ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin:0 0 1rem 1rem;
    border-radius:1rem;
    box-shadow: inset 1rem 1rem 1rem #181f2d;
    border: solid 4px #181f2d;

}

.edu-div{
    position:relative;
    height: auto;
}

.vertical-row-edu::after{
    content:'';
    margin-bottom: 5rem;
    left:1.2rem;
    top:3.1rem;
    height:80%;
    position: absolute;
    width:4px;
    background: linear-gradient(to bottom, purple, rgb(161, 138, 6),maroon);
}

.timeline-item {
    position: relative;
    margin: 0px 0 2rem 2rem;
    padding-left: 2rem;
    border:solid 1rem transparent;
    border-radius: 1rem;
    cursor:pointer;
    box-shadow:  1rem 1rem 1rem #181f2d;
    border: solid 4px #181f2d;
    border-radius: 1rem;
}

.timeline-icon {
    position: absolute;
    left: -20px;
    width: 3rem;
    height: auto;
    display: grid;
    place-items: center;
    top: 0;
}

.timeline-icon img{
    height:3rem;
    width:auto;
}

.timeline-content h3 {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 0rem;
}

.timeline-content p {
  font-size: 0.9rem;
  color: #ccc;
}

.edu-bars{
    height:0.6rem;
    width:80%;
    background-color: rgba(245, 245, 245, 0.336);
    margin-bottom:1rem;
    margin-left: 3.5rem;
}

@keyframes edu-progress{
    0% {background-color:black; width: 5%;}
    25% {background-color:darkblue; width: 25%;}
    50% {background-color:rgb(35, 83, 177); width: 50%;}
    75% {background-color:rgb(9, 100, 191); width: 75%;}
}


.edu-progress{
    animation-name: edu-progress;
    animation-duration: 8s;
    background-color: aqua;
    height:100%;
}

@keyframes animate-edu{
    10% {background-color:#001F3F;}
    20% {background-color:#003366 ;}
    30% {background-color:#004B8D;}
    40% {background-color:#006198 ;}
}

.timeline-item:hover{
    animation-name: animate-edu;
    animation-duration: 4s;
    animation-play-state: running;
}

.tooltip{
    opacity:1;
    position:absolute;
    top:3.7rem;
    left:0rem;
    cursor:pointer;
    font-size:0.8rem;
    color:white;
    font-weight: 700;
}

circle.fg {
  transform: rotate(-90deg);
  transform-origin: 125px 125px;
}

.lang-circles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:2rem;
    padding: 2rem 0 2rem 0;
    box-shadow:  1rem 1rem 1rem #181f2d;
    border: solid 4px #181f2d;
    border-radius: 1rem;
}

.lang-circles p{
    margin-left:-5rem;
} 

